/* ==========================================================================
   1. RESET & STILI GENERALI
   ========================================================================== */
   * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #fff;

    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

input, select, button, textarea {
    font-family: inherit;
}

/* ==========================================================================
   2. TITOLO E DESCRIZIONE
   ========================================================================== */

.section-title {
    margin: 20px 0;

    text-align: center;

    color: #e53170;
    
    font-size: 48px;
    font-weight: 1000;
    line-height: 1;
}

.section-description {
    margin: 40px;

    text-align: center;
    font-size: 16px;
    line-height:1.5;


}

/* ==========================================================================
   3. TEAM CONTAINER & CARDS
   ========================================================================== */

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.team-card {
    background-color: black;
    color: #fff;

    display: flex;

    height: 125px;
    width: 100%;
    margin: 10px;    
    max-width: 380px;

    position: relative;
}

.team-card button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;

    cursor: pointer;

    position: absolute;
    top: 10px; 
    right: 10px;
}

.team-card button:hover {
    color: red;
}

.card-image {
    width: 125px;      
    flex-shrink: 0;     

    cursor: pointer;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 1s, opacity 1s;;
}

.card-image:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

/* Testi delle Card */
.card-text{
    text-align: left;
    padding:  15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text h3 {
    font-size: 21px;
    font-weight: 900;
    padding-right: 25px;

    text-transform: uppercase;
    letter-spacing: -1px;
}

.card-text p {
    font-size: 16px;
}

.email {
    color: #2394db;
    font-size: 12px;
    line-height: 1;
    overflow-wrap: anywhere;
    word-break: break-word;

    margin-top: 0.5em;
}

/* ==========================================================================
   4. FORM DI REGISTRAZIONE
   ========================================================================== */
.form-container {
    max-width: 500px;
    margin: 0 auto;;
}

#new-member {
    display: flex;
    flex-direction: column;
}


label {
    font-size: 14px;

    margin-bottom: 0.4em;
}

input, select {
    display: block;
    width:  100%;
    margin-bottom: 1em;
    padding: 0.5em 1em;

    width: 350px;

    border: 1px solid #cecece;
    border-radius:  4px;
    box-shadow: none;
}

.form-container button {
    margin: 10px auto 0 auto;
    text-transform: uppercase;

    background-color: #2394db;
    color: white;

    font-size: 14px;
    font-weight: 800;
    
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 15px;

    cursor: pointer;
}

/* ==========================================================================
   5. MEDIA QUERIES (Responsive)
   ========================================================================== */

/* Tablet: da 768px in su -> 2 colonne di cards */
@media (min-width: 768px) {

    .team-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 780px; /* 380px * 2 + gap */
        margin: 0 auto;
    }

    .form-container {
        display: flex; 
        flex-direction: column;
        align-items: center;

        max-width: 500px;
        margin: 1vh auto;
    }
    
}

/* Laptop: da 1024px in su -> 3 colonne di cards */
@media (min-width: 1024px) {

    .team-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1180px; /* 380px * 3 + gap * 2 */
    }
}